<html xmlns:th="htt://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="plantillas/plantilla :: head">
        <title>Formulario Persona</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="plantillas/plantilla :: header"></header>
        <section th:replace="plantillas/editarCliente :: editarCliente"></section>
        <footer th:replace="plantillas/plantilla :: footer"></footer> 
    </body>
</html>
